.form-usuario{
    .users-icon{
        position: absolute;
        pointer-events: none;
        margin-top: 8px;
        margin-left: 10px;
    }
    position: relative;
    .user-input-text{
        padding-left: 35px;
        padding-right: 35px;
    }
}